body,button, textarea {font:normal 14px/1.4 'Operator Mono SSm';}
nav { text-align: right;}
nav button { display: inline; float:none; opacity: 0; }
form#message{
	position: absolute;
	left:50%;
	top:50%;
	background-color: #f0f0f0;
	padding:10px;
	border:1px solid #ddd;
	box-shadow: 0 0 4px rgba(0,0,0,.5);
	transform: translate(-50%,-50%);
}
form#message textarea{
	border:1px solid #ddd;
	display: block;
	height:200px;
	width:400px;
	margin-bottom: 5px;
	padding: 10px;
	resize: none;
}
form#message button {
	width:100%;
	display: block;
	text-align: center;
}
.hide{
	display: none;
}