:root{
	--font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body{
	font-family:var(--font-family) !important;
	height:100vh;
	min-height:400px;
}
main {
	border:1px solid #ddd;
	border-width: 1px 0;
	height:calc(100vh - 13em);
}
#messages,
#users{
	margin: 0;
	overflow-y:scroll;
}
#users{
	width:200px;
	border-right:1px solid #ddd;
}
#users ul{
	margin:0;
	padding-left: 0;
	list-style: none;
}
#users ul li {
	background-color:rgba(0,0,0,.1);
	padding:.5em;
	margin: 2px;
}
#users ul li.me{
	background-color:rgba(25, 135, 84,.1);
}
#users ul small{
	display: block;
	color: #555;
	font-size: .875em;
}
#chat-message-form{
	bottom: 52px;
	padding:10px;
}
#status-message{
	border-width: 1px 0 0 0;
	margin:0;
}
/* view state */
.navbar,
main,
#chat-message-form,
#status-message{
	opacity: 1;
	transition:opacity .5s;
}
body.off .navbar,
body.off main,
body.off #chat-message-form,
body.off #status-message{
	opacity: 0;
}
/* message styles */
.message{
	background-color:#eee;
	margin:3px;
	border-radius: .4em;
	border:1px solid #ddd;
	overflow: hidden;
}
.message .sender{
	background-color: rgba(255,255,255,.7);
	padding: .3em;
	color:#888;
	font-size:.9em;
}
.message .content{
	padding: .3em;
}
.message.me{
	background-color: #b5d5f8;
	border-color: #a6c4e4;
}
.message.me .sender{
	color: #7C8DA5;
}
.message.system{
	background-color: #deefd8;
	border-color: #d6e7c6;
}
.message.welcome{
	padding: .3em;
	color: #664d03;
	background-color: #fff3cd;
	border-color: #ffecb5;
}
.message.private{
	background-color: #f8d7da;
	border-color: #f5c2c7;
}
.message.private .sender{
	color: #842029;
}
