body {
	margin:0;
	padding: 51px 0 0;
}
body, button, textarea {
	font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
pre{
	font: 400 14px/1.4em 'Operator Mono Ssm', Menlo, Consolas, monospace;
	border-radius: 0;
	background-color: transparent;
	margin:0;
	border:0;
	border-bottom:1px solid #ddd;
	padding:9.5px;
	white-space: pre-wrap;
}
* {
	box-sizing: border-box;
}
#sig {
	position: fixed;
	bottom:0;
	width: 100vw;
	background-color: #eee;
	border-top:1px solid #ddd;
	padding: 1em;
	margin:0;
	text-align: center;
}
body table[class^=cfdump]{
	font-family: 'OperatorMonoSSm-Book',Menlo,Consolas, monospace;
	font-size:11px;
}
nav:not(.navbar) {
	background-color: #f8f8f8;
	border-bottom:1px solid #e7e7e7;
	padding:0 15px;
	position: fixed;
	width:100%;
	top:0;
	text-align: right;
	z-index: 1;
}
nav:not(.navbar) span,
nav:not(.navbar) button:not(.btn) {
	background-color:transparent;
	border: none;
	color: #777;
	cursor:pointer;
	line-height: 50px;
	outline: none;
	padding:0 15px;
}
.container-fluid button:not(.btn){
	border-left:1px solid #ddd;
}
nav:not(.navbar) span {
	display: inline-block;
	float: left;
	padding: 0;
	font-size: 1.2em;
}
nav.navbar{
	margin-bottom: 20px;
}
.hide{
	display: none;
}

/* CONSOLE */
	#console {
		bottom:0;
		list-style: none;
		margin:0;
		padding:0;
	}
	#console li {
		position: relative;
		opacity: .5;
		transition: opacity .25s;
	}
	#console li:nth-child(even){
		background-color: #f5f5f5;
	}
	#console li:last-child { opacity: 1; }
	#console li strong {
		position: absolute;
		right:1em;
		top:1em;
		font-size: 1.2em;
		font-weight: 600;
		color: #888;
	}

/* FORM MESSAGE */
	form#message{
		position: fixed;
		left:50%;
		top:50%;
		background-color: #f0f0f0;
		padding:10px;
		border:1px solid #ddd;
		box-shadow: 0 0 4px rgba(0,0,0,.5);
		transform: translate(-50%,-50%);
	}
	form#message textarea{
		border:1px solid #ddd;
		display: block;
		height:200px;
		width:400px;
		margin-bottom: 5px;
		padding: 10px;
		resize: none;
	}
	form#message button {
		width:100%;
		display: block;
		text-align: center;
		background-color: #ddd;
	}
	form#message button:active{
		background-color: #ccc;
	}