#status {
	position: absolute;
	top:0;
	left:0;
	height:40px;
	line-height: 40px;
	padding: 0 1em;
	color:#fff;
	opacity: 0;
	transition: opacity .25s;
	z-index: 100;
}
#status.on {opacity:1;}
#status.connected {background-color: rgba(0,255,0,.8);}
#status.disconnected {background-color: rgba(255,0,0,.8);}
#status.connecting {background-color: rgba(0,0,255,.8);}